<!doctype html>
<html lang="en">
  <%- include('header') -%>
  <body class="text-center">
    
<form class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
  <label for="username" class="sr-only">username</label>
  <input type="username" id="inputEmail" class="form-control" placeholder="username" required >
  <label for="inputPassword" class="sr-only">code of your crew</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="code of your crew" required>
  <a href="/dashboard" class="btn btn-lg btn-outline-secondary btn-block" type="submit">Go!</a>
  <p class="mt-5 mb-3 text-muted">Még nem tuti, hogy így lesz a dolog, nem erőltetem a login dolgot</p>
</form>


    
  </body>
</html>
